@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.col-fixed-160 {
  width: 160px;
  position: fixed;
  height: 100%;
  margin: 0 0 0 -40px;
}

.col-offset-160{
    padding-left: 175px !important;
}

.site-container {
  margin-top: 12px;
}

.slide-button {
  float: right;
  font-size: 20px;
}

.slide {
  background-color: #99CCFF;
  height: 500px;
  @include border-radius(2px);
}

.slide-header {
  background-color: #47A3FF;
  padding: 12px;
  @include border-radius(2px);
}