.col-fixed-160 {
  width: 160px;
  position: fixed;
  height: 100%;
  margin: 0 0 0 -40px;
}

.col-offset-160{
    padding-left: 175px !important;
}

.site-container {
  margin-top: 12px;
}

.slide-button {
  float: right;
  font-size: 20px;
}

.slide {
  background-color: #0000F5;
  height: 500px;
  width: 324px;
}

.slide-header {
  background-color: #8585FF;
  padding: 12px;
  width: 300px;
}